{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    {% if name == 'home2' %}
    <link rel="stylesheet" href="{% static 'hr_wiki/css/home2.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'hr_wiki/css/main.css' %}">
    {% endif%}
    
</head>
<body>
    <nav>
        <div class="logo">
            <a href="#"><img src="{% static 'hr_wiki/img/logo.png' %}" alt="logo"></a>
        </div>

        <div class="nav-link">
            <a href="{% url 'wiki-home' %}">Home</a>
            <a href="#">Contact</a>
            <a href="#">About</a>
            {% if name == 'home2' %}
            <a href="" style="font-weight: bold">Halo, user 14214241</a>
            {% else %}
            <a href="{% url 'wiki-home2' %}" class="login">Login</a>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>