{% extends "hr_wiki/base.html" %}
{% load static %}
{% block content %}

<div class="cobain">
    <div class="cari">
        <input class="inp_search" type="text" placeholder="Pedoman Travel Management">
        <button class="btn_search" type="submit">Search</button>
    </div>

    <div class="tombol">
            <a href=""><img src="{% static 'hr_wiki/img/print.png' %}" alt="tombol"></a>
            <a href=""><img src="{% static 'hr_wiki/img/save.png' %}" alt="tombol"></a>
            <a href=""><img src="{% static 'hr_wiki/img/share.png' %}" alt="tombol"></a>   
    </div>
    <div class="content-search">
        <div class="row">
            <h3>Pedoman Travel Management</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus
                ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent
                mauris.</p><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, tempora architecto. Eveniet modi provident
                qui error eligendi beatae facilis perspiciatis reiciendis dicta, fuga facere architecto sint sit fugiat
                illum totam?</p><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid esse voluptas tempora error aspernatur
                perferendis provident ducimus. Quae reprehenderit explicabo, laudantium amet illum quo, eum, culpa
                quibusdam aliquid laboriosam aliquam?</p><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, tempora architecto. Eveniet modi provident
                qui error eligendi beatae facilis perspiciatis reiciendis dicta, fuga facere architecto sint sit fugiat
                illum totam?</p><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid esse voluptas tempora error aspernatur
                perferendis provident ducimus. Quae reprehenderit explicabo, laudantium amet illum quo, eum, culpa
                quibusdam aliquid laboriosam aliquam?</p><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, tempora architecto. Eveniet modi provident
                qui error eligendi beatae facilis perspiciatis reiciendis dicta, fuga facere architecto sint sit fugiat
                illum totam?</p><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid esse voluptas tempora error aspernatur
                perferendis provident ducimus. Quae reprehenderit explicabo, laudantium amet illum quo, eum, culpa
                quibusdam aliquid laboriosam aliquam?</p><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, tempora architecto. Eveniet modi provident
                qui error eligendi beatae facilis perspiciatis reiciendis dicta, fuga facere architecto sint sit fugiat
                illum totam?</p><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid esse voluptas tempora error aspernatur
                perferendis provident ducimus. Quae reprehenderit explicabo, laudantium amet illum quo, eum, culpa
                quibusdam aliquid laboriosam aliquam?</p><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, tempora architecto. Eveniet modi provident
                qui error eligendi beatae facilis perspiciatis reiciendis dicta, fuga facere architecto sint sit fugiat
                illum totam?</p><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid esse voluptas tempora error aspernatur
                perferendis provident ducimus. Quae reprehenderit explicabo, laudantium amet illum quo, eum, culpa
                quibusdam aliquid laboriosam aliquam?</p><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid esse voluptas tempora error aspernatur
                perferendis provident ducimus. Quae reprehenderit explicabo, laudantium amet illum quo, eum, culpa
                quibusdam aliquid laboriosam aliquam?</p>
        </div>
    </div>

    <div class="report">
        <p>Apakah artikel ini membantu? <img src="{% static 'hr_wiki/img/like.png' %}"><img src="{% static 'hr_wiki/img/like.png' %}"> | Laporkan artikel</p>
    </div>

    <div class="cek">
        <div class="info_konten">
            <p>20 May 2019, 10.22 WIB</p><br>
            <p>Admin Human Capital Bussiness Partner</p><br>
            <p>19 Hits</p><br>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <div class="artikel">
            <h4>Artikel Terkait</h4>
            <p>Suspendices ultra massa</p><br>
            <p>Suspendices ultra massa</p><br>
            <p>Suspendices ultra massa</p><br>
            <p>Suspendices ultra massa</p><br>
        </div>
    </div>
</div>
{% endblock content %}