{% extends "hr_wiki/base.html" %}
{% load static %}
{% block content %}

<div class="content">
    <div class=cari>
        <form method="POST">
            {% csrf_token %}
            {{ form.search }}
            <button class="btn_search" type="submit">Search</button>
        </form>
    </div>

    <div class="tombol">
        <a href="" id="doPrint" title="Print">
            <img src="{% static 'hr_wiki/img/print.png' %}" alt="tombol">
        </a>

        <a href="{% static 'hr_wiki/img/juncheng2013.pdf' %}" title="Save" download="Rules.pdf">
            <img src="{% static 'hr_wiki/img/save.png' %}" alt="tombol">
        </a>

        <!-- <script type="text/javascript" async>
            function genericSocialShare(url) {
                window.open(url, 'sharer', 'toolbar=0,status=0,width=648,height=395');
                return true;
            }
        </script> -->

        <!-- <a href="javascript:void(0)"
            onclick="javascript:genericSocialShare('https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=&su=I want to share this site&body=Check out this site http://www.hrwiki.com.&ui=2&tf=1&pli=1')"
            title="share"> -->
        <a href="{% url 'wiki-content' content_id %}?action=send_mail" title="Share">
            <img src="{% static 'hr_wiki/img/share.png' %}" alt="tombol">
        </a>
    </div>

    <div class="content-main">
        <div class="row" id="save">
            <h3>{{ konten.kasus }}</h3>

            {{ konten.solusi|safe }}

        </div>
        <div style="display: none">
            <div id="printDiv">
                    <h3>{{ konten.kasus }}</h3>

                    {{ konten.solusi|safe }}
                    <br><p>printed by : {{ username }}</p>
            </div>

        </div>
    </div>

    <div class="report">
        <p>Apakah artikel ini membantu?</p>
        <div class="thumb">
            {% if disable %}
            {% if disable.like == 1 %}
            <img src="{% static 'hr_wiki/img/thumbs up.png' %}">
            {% elif disable.dislike == 1 %}
            <img src="{% static 'hr_wiki/img/thumbs down.png' %}">
            {% endif %}
            {% else %}
            <form method="POST">
                {% csrf_token %}
                {{ like.like }}
                <button type="submit"><img src="{% static 'hr_wiki/img/thumbs up.png' %}"></button>
            </form>
            <form method="POST">
                {% csrf_token %}
                {{ dislike.dislike }}
                <button type="submit"><img src="{% static 'hr_wiki/img/thumbs down.png' %}"></button>
            </form>
            {% endif %}
        </div>
        <button id="komen">Komentar Artikel</button>

    </div>

    <div class="cek">
        <div class="info_konten">
            <div class="text_konten">
                <img src="{% static 'hr_wiki/img/calendar.png' %}">
                <span style="color: #0c9093;
                    font-size: 9pt;">{{ konten.lastupdate }}
                </span>
            </div>
            <div class="text_konten">
                <img src="{% static 'hr_wiki/img/person2.png' %}">
                <span style="color: #0c9093;
                    font-size: 9pt;">{{ konten.createdby }}
                </span>
            </div>
            <div class="text_konten">
                <img src="{% static 'hr_wiki/img/trophy.png' %}">
                <span style="color: #0c9093;
                    font-size: 9pt;">{{ konten.hits }} Views
                </span>
            </div>
            <div class="text_konten">
                <img src="{% static 'hr_wiki/img/star2.png' %}">
                {% for star in stars %}
                {{ star|safe }}
                {% endfor %}
            </div>
        </div>
        <div class="artikel">
            <h4>Artikel Terkait</h4>
            <div class="artikel-link">
                <p>Suspendices ultra massa</p><br>
                <p>Suspendices ultra massa</p><br>
                <p>Suspendices ultra massa</p><br>
                <p>Suspendices ultra massa</p><br>
                <p>Suspendices ultra massa</p><br>
            </div>
        </div>
        <!-- <div class="modal-footer">
            <h3>Modal Footer</h3>
          </div> -->
    </div>

</div>

<div class="modal-komen">
    <div class="modal-komen-content">
        <i class="fa fa-window-close" aria-hidden="true" style="color: white"></i>
        <h1>Komentar Artikel</h1>
        <form method="POST">
            {% csrf_token %}
            {{ komen.komen }}
            <button type="submit">Komentar</button>
        </form>
    </div>
</div>

<script src="{% static 'hr_wiki/js/print.js' %}"></script>
<script src="{% static 'hr_wiki/js/komen.js' %}"></script>
{% endblock content %}