{% extends "hr_wiki/base.html" %}
{% load static %}
{% block content %}
    <div class="con">
        <div class="content">
            <div class="content-text">
                <p class="header">Welcome to HR Wiki!</p>
    
                <h1>Everything you need to know is here</h1>
    
                <p class="isi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatum deleniti pariatur tempora, culpa odit exercitationem</p>
            </div>
            <div class="content-img">
                <img src="{% static 'hr_wiki/img/gambar1.png' %}" alt="">
            </div>
        </div>
    </div>

    <div class="modal">
        <div class="modal-login">
            <form method="POST">
                {% csrf_token %}
                {{ form.username }}
                {{ form.password }}
                <div class="forgot">
                    <small><a href="#">Forgot password?</a></small>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}