{% extends "hr_wiki/base.html" %}
{% load static %}
{% block content %}
    <img src="{% static 'hr_wiki/img/home2.png' %}" alt="" id="bgr">
    <div class="conc">
        <div class="content">
            <div class="content-text">
                <p class="header"><b>Welcome to HR Wiki!</b></p>
    
                <h1>Everything you need to know is here</h1>
    
                <div class="searchText">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.search }}
                        <!--input type='text' placeholder="Type Here..." id="id_search" name="q"-->
                        <!--<button>Search</button>-->
                        <!--a href="{% url 'wiki-search' %}?q={{ hasil }}" class="btn">Search</a-->
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="content-img">
                <div class="logoicon">
                    <div class="baris">
                        <button id="logo" style="font-size: 11px"><img id="logobtn" src="{% static 'hr_wiki/img/mk2.png' %}"><br>Manajemen <br> Karir</button>
                        <button id="logo" style="font-size: 11px"><img id="logobtn" src="{% static 'hr_wiki/img/remunerasi2.png' %}"><br>Remunerasi</button>
                        <button id="logo" style="font-size: 11px"><img id="logobtn" src="{% static 'hr_wiki/img/tm2.png' %}"><br>Travel <br> Management</button>
                    </div>
                    <div class="baris">
                        <button id="logo" style="font-size: 11px"><img id="logobtn" src="{% static 'hr_wiki/img/scm2.png' %}"><br>Spiritual <br> Capital <br> Management</button>
                        <button id="logo" style="font-size: 11px"><img id="logobtn" src="{% static 'hr_wiki/img/kes2.png' %}"><br>Kesehatan</button>
                        <button id="logo" style="font-size: 11px"><img id="logobtn" src="{% static 'hr_wiki/img/er2.png' %}"><br>Employee <br> Relation</button>
                    </div>
                    <div class="baris">
                        <button id="logo" style="font-size: 11px"><img id="logobtn" src="{% static 'hr_wiki/img/rekrut2.png' %}"><br>Rekruitasi</button>
                        <button id="logo" style="font-size: 11px"><img id="logobtn" src="{% static 'hr_wiki/img/as2.png' %}"><br>Administration <br> Service</button>
                        <button id="logo" style="font-size: 11px"><img id="logobtn" src="{% static 'hr_wiki/img/mw2.png' %}"><br>Manajemen <br> Waktu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

