{% extends "hr_wiki/base.html" %}
{% load static %}
{% block content %}
    <img src="{% static 'hr_wiki/img/home2.png' %}" alt="" id="bgr">
    <div class="conc">
        <div class="content">
            <div class="content-text">
                <p class="header"><b>Welcome to HR Wiki!</b></p>
    
                <h1>Everything you need to know is here</h1>
    
                <div class="searchText">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.search }}
                        <!-- <input type='text' placeholder="Type Here..." id="kolomInput"> -->
                        <!-- <button type="submit">Search</button> --> <!-- nanti ini diaktifin kalo udah ada db -->
                        <a href="{% url 'wiki-search' %}" class="btn">Search</a>
                    </form>
                </div>
            </div>
            <div class="content-img">
                <div class="logoicon">
                    <div class="baris">
                        <div id="logo1"></div>
                        <div id="logo2"></div>
                        <div id="logo3"></div>
                    </div>
                    <div class="baris">
                        <div id="logo1"></div>
                        <div id="logo2"></div>
                        <div id="logo3"></div>
                    </div>
                    <div class="baris">
                        <div id="logo1"></div>
                        <div id="logo2"></div>
                        <div id="logo3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}