{% extends "hr_wiki/base.html" %}
{% load static %}
{% block content %}
    <div class="con">
        <div class="content-landing">
            <div class="content-landing-text">
                <p class="header">Welcome to HR Wiki!</p>
    
                <h1>Everything you need to know is here</h1>
    
                <p class="isi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatum deleniti pariatur tempora, culpa odit exercitationem</p>
            </div>
            <div class="content-landing-img">
                <img src="{% static 'hr_wiki/img/gambar1.png' %}" alt="">
            </div>
        </div>
    </div>
{% endblock content %}