{% extends "hr_wiki/base.html" %}
{% load static %}
{% block content %}
    <div class=cari>
        <input class = "inp_search" type="text" placeholder="Pedoman Travel Management">
        <button class = "btn_search" type = "submit">Search</button>
    </div>
    <div class="content-search">
        <div class = "row">
            <h3>Monserrat <nobr class="hits" style="margin-left: 10px;font-size: 13px; color: #A89D98; opacity: 0.5;">[250 Hits]</nobr></h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
        </div>
        <div class = "row">
            <h3>QuickSand <nobr class="hits" style="margin-left: 10px;font-size: 13px; color: #A89D98; opacity: 0.5;">[176 Hits]</nobr></h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
        </div>
        <div class = "row">
            <h3>Helvetica <nobr class="hits" style="margin-left: 10px;font-size: 13px; color: #A89D98; opacity: 0.5;">[123 Hits]</nobr></h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
        </div>
        <div class = "row">
            <h3>Roboto Bold <nobr class="hits" style="margin-left: 10px;font-size: 13px; color: #A89D98; opacity: 0.5;">[270 Hits]</nobr></h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
        </div>
        <div class = "row">
            <h3>Nexa Demo Light <nobr class="hits" style="margin-left: 10px;font-size: 13px; color: #A89D98; opacity: 0.5;">[167 Hits]</nobr></h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
        </div>
    </div>
    <div class="page">
        <a href ="#" ><nobr class="bulet">1 &nbsp</nobr></a> 
        <a href ="#" ><nobr>2 &nbsp</nobr></a>
        <a href ="#" ><nobr>3 &nbsp</nobr></a>
        <a href ="#" ><nobr>Next Page &nbsp</nobr></a>
        <a href ="#" ><nobr><b>Last Page</b></nobr></a>
    </div>
{% endblock content %}