{% extends "hr_wiki/base.html" %}
{% load static %}
{% block content %}
<div class="content">

    <div class=cari>
        <form method="POST">
            {% csrf_token %}
            {{ form.search }}
            <button class="btn_search" type="submit">Search</button>
        </form>
    </div>

    <div class="content-search">
        <div class="isi">
            {% for konten in kontens %}
            <div class="row">
                <h3><a href="{% url 'wiki-content' konten.id %}">{{ konten.judul }}</a>
                    <nobr class="hits" style="margin-left: 10px;font-size: 13px; color: #A89D98; opacity: 0.5;">[250
                        Hits]</nobr>
                </h3>
                <p>{{ konten.highlight }}</p>
            </div>

            {% endfor %}
        </div>
    </div>

    <div class="pagination">
        {% if kontens.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ kontens.previous_page_number }}">Prev</a>
        {% endif %}
        {% for num in kontens.paginator.page_range %}
        <a href="?page={{ num }}" class="{% if kontens.number == num %}active{% endif %}">{{ num }}</a>
        {% endfor %}
        {% if kontens.has_next %}
        <a href="?page={{ kontens.next_page_number }}">Next</a>
        <a href="?page={{ kontens.paginator.num_pages }}">Last</a>
        {% endif %}

    </div>

    <div class="cek">
        <div class="artikel">
            <h4>Artikel Terkait</h4>
            <div class="artikel-link">
                <p>Suspendices ultra massa</p><br>
                <p>Suspendices ultra massa</p><br>
                <p>Suspendices ultra massa</p><br>
                <p>Suspendices ultra massa</p><br>
                <p>Suspendices ultra massa</p><br>
            </div>
        </div>
    </div>
</div>
{% endblock content %}