{% extends "hr_wiki/base.html" %}
{% load static %}
{% block content %}

<div class="cobain">
    <div class="cari">
        <form method="POST">
            {% csrf_token %}
            <input type='text' placeholder="Type Here..." id="id_search" name="q">
            <button type="submit" class="btn_search">Search</button>
            <!--a href="{% url 'wiki-search' %}" class="btn_search">Search</a-->
        </form>
    </div>
    <div class="content-search">
        <div class="isi">
            {% for item in konten %}
            <div class = "row">
                <h3><a href="{% url 'wiki-content' %}">{{ item.judul }}</a> <nobr style="margin-left: 10px;font-size: 13px; color: #A89D98; opacity: 0.5;">[250 Hits]</nobr></h3>
                <p> {{ item.isi }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="page">
            <a href ="#" ><nobr class="bulet">1 </nobr></a> 
            <a href ="#" id="pg"><nobr>2 </nobr></a>
            <a href ="#" id="pg"><nobr>3 </nobr></a>
            <a href ="#" id="pg" onclick="javascript:history.forward();"><nobr>Next Page </nobr></a>
            <a href ="#" id="pg"><nobr><b>Last Page</b></nobr></a>
        </div>
    </div>

    <div class="cek">
        <div class="info_konten">
            <div>
                <h3 style="color: black">HR Wiki Trends</h3>
            </div>
            <div>
              <a href="#" id="trends">ManagementWaktu</a> 
              <p style="margin-left: 10px;font-size: 13px; color: #A89D98; opacity: 0.5;">560 Hits</p> 
            </div>
            <div>
                <a href="#" id="trends">ManagementKarir</a> 
                <p style="margin-left: 10px;font-size: 13px; color: #A89D98; opacity: 0.5;">497 Hits</p> 
            </div>
            <div>
                <a href="#" id="trends">Renumerasi</a> 
                <p style="margin-left: 10px;font-size: 13px; color: #A89D98; opacity: 0.5;">350 Hits</p> 
            </div>
            <div>
                <a href="#" id="trends">ManagementAdministrasi</a> 
                <p style="margin-left: 10px;font-size: 13px; color: #A89D98; opacity: 0.5;"> 312 Hits</p> 
            </div>
        </div>
    </div>
</div>
{% endblock content %}

