{% extends 'hc_wiki-admin/base.html' %}
{% block content %}
<div class="col-12 wrapper-container">
  <div class="main-wrapper">
    <div class="container">
      <div class="page-header">
        <div class="page-title text-center">
          Admin Homepage
        </div> <br>
      </div>
      <a href="{% url 'admin-add' %}" class="btn btn-success mb-1">Tambah Artikel Baru</a><br>
      <input type="text" id="myInput" onkeyup="searchID()" placeholder="Search by ID...">

      <div class="row">
        <table class="table" id="tabelPegawai" style="max-width: 500px">
          <thead class="thead-light">
            <tr>
              <th scope="col" style="min-width:80px">ID</th>
              <th scope="col" style="min-width:300px">Judul</th>
              <th scope="col" style="min-width:400px">Isi Konten</th>
              <th scope="col" style="min-width:300px">Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for d in data %}
            <tr>
              <td scope="row"> <b> {{ d.idincident}}</b></td>
              <td> {{ d.kasus}}</td>
              <td> {{ d.highlight }} </td>
              <td> <a id="editKonten" href="{% url 'admin-edit' d.idincident %}"> Edit Konten</a> | <a id="hapusKonten"
                  href="{% url 'admin-delete' d.idincident %}">Hapus Konten</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}