{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>HR-Wiki Admin Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'hc_wiki-admin/css/login.css' %}">
</head>
<body>
	
	<div class="formKonten">
        <center><p>Welcome to Admin Page</p>
        <input type="text" placeholder="Username..." id="kolUsername"> <br>
        <input type="password" placeholder="Password..." id="kolPassword"> <br>
        <a href="{% url 'admin-home'%}" id="btnLogin">Login</a></center>
    </div>

</body>
</html>