@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

$ijo: #0C9093;
$merah: #EA0A7A;
$abu: #A89D98;

@mixin flex($justify: flex-start, $align: stretch, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin position($position, $z){
    position: $position;
    z-index: $z;
}

@mixin button($border, $backcol, $color){
    cursor: pointer;
    width: 5em;
    border-radius: 1em;
    border: $border;
    background-color: $backcol;
    color: $color;
    padding: 0.5em;
    text-align: center;
}

@mixin tranisition-btn{
    transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out;
}

@mixin input($border: none) {
    width: 15em;
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: white;
    border-radius: 1em;
    border: $border;
    &:focus{
        outline: none;
    }
}

@mixin search_bag{
    margin-top: 1em;
    justify-content: center;
    @include position(relative, 1);
}

@import './responsive';

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

p, h1{
    margin: 0;
    padding: 0;
}

input, button{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

@import './nav';
@import './modal';
@import './scrollbar';
@import './sidebar';

@import './con';
@import './content';

@import './alert';

.inp_search{
    box-sizing: border-box;
    @include input(1px solid $merah);
    width: 25em;

    &::placeholder{
        color: $merah;
    }
}

.btn_search{
    @include button(1.5px solid $merah, $merah, white);
    // box-sizing: border-box;
    @include tranisition-btn;

    &:hover{
        background-color: white;
        color: $merah;
    }

    &:focus{
        outline: none;
    }
}

.show{
    display: block !important;
}