{% extends 'hr_wiki-admin/base.html' %}
{% load static %}
{% block content %}

<div class="col-12 wrapper-container">
  <div class="main-wrapper">
    <div class="container">
      <div class="page-header">
        <!-- <div class="page-title text-center">
          ID Konten : {{content.idincident}}
        </div> -->
      </div>
      <div class="row d-flex justify-content-center">
        <div class="conten-main">
          <form method="POST" class="d-flex flex-column">
            {% csrf_token %}
            {{ form.judul }}
            <br>
            {{ form.isi }}
            <button type="submit" class="btn btn-danger mt-2">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}