<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit et, dignissimos sit harum quisquam nulla fugit aut in tempora delectus debitis sapiente labore voluptas dolore ex consequuntur officiis voluptatem qui.
    {% for c in source %}
    {{ c }}
    {% endfor %}
</body>
</html>