.content{
    @include responsive("xsmall"){
        height: 87vh;
        margin: 0 2em;
        display: grid;
        grid-gap: 1em;
        grid-template-areas: 
                            "a a a a a"
                            "b b b b b"
                            "c c c c c"
                            "d d d d d"
                            "e e e e e";
    
        &::before{
            content: '';
            @include position(absolute, -1);
            right: 0;
            display: block;
            width: 100%;
            height: 80vh;
            background-image: url(../img/pic.png);
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: center;
            opacity: 0.1;
        }
        .cari{
            @include search_bag;
            text-align: center;
            grid-area: a;
            form{
                .inp_search{
                    box-sizing: border-box;
                    @include input(1px solid $merah);
                    width: 18em;
                
                    &::placeholder{
                        color: $merah;
                    }
                }
            }
        }
    
        .tombol{
            grid-area: b;
            @include position(relative, 1);
            @include flex(center, center);
            margin-top: 1em;
    
            div, a{
                cursor: pointer;
                img{
                    width: 2.1em;
                    height: 2.1em;
                    margin: 0 0.5em;
                }
            }
        }
    
        .content-main{
            @include position(relative, 1);
            width: 90%;
            text-align: justify;
            max-height: 70vh;
            overflow-y: scroll;
            padding: 0 2em 0 0;
            grid-area: c;
            
            .row{
                line-height: 1.5em;
                h3{
                    font-size: 0.9em;
                    color: black;
                }
    
                p{
                    margin: 1em 0;
                    font-size: 0.9em;
                    color: black;
                }

                ol, ul{
                    li{
                        margin: 0.25em 0;
                        font-size: 0.9em;
                        color: black;
                    }
                }
            }
        }
    
        .content-search{
            @include position(relative, 1);
            @include flex($direction: column);
            height: 60vh;
            overflow-y: scroll;
            grid-area: c;
            
            .isi{
                .row{
                    h3{
                        a{
                            font-size: 0.9em;
                            color: $ijo;
                        }
                    }
        
                    p{
                        font-size: 0.9em;
                        color: $abu;
                    }
                }
            }
        }
    
        .pagination{
            @include position(relative, 1);
            @include flex(center);
            height: 2em;
            margin-top: 1%;
            color: $ijo;
            grid-area: e;
    
            a{
                font-size: 0.9em;
                @include flex(center, center);
                color: $ijo;
                padding: 0.2em 0.5em;
            }
    
            .active{
                background-color: $ijo !important;
                color: white !important;
                border-radius: 2em;
                
            }
        }
    
        .report{
            @include position(relative, 1);
            @include flex($align: center, $direction: column);
            width: 100%;
            grid-area: e;
    
            p{
                font-size: 10pt;
                margin: 1em;
            }
            .thumb{
                @include flex();
                img{
                    cursor: pointer;
                    width: 1em;
                    height: 1em;
                    margin: 0 0.5em;
                }
                form{
                    button{
                        outline: none;
                        background-color: transparent;
                        border: none;
                        img{
                            cursor: pointer;
                            width: 1em;
                            height: 1em;
                            margin: 0 0.5em;
                        }
                    }
                }
            }

            #komen{
                cursor: pointer;
                margin-top: 1em;
                background-color: rgba(0, 0, 0, 0);
                border: none;
                outline: none;
            }
        }
    
        .cek{
            @include flex($direction: column);
            grid-area: d;
            display: none;
            
            .info_konten{
                @include flex($justify: space-around,$direction: column);
                align-self: center;
                border-style: solid;
                border-color: #0c9093;
                margin: 0 0 1em 0;
                min-height: 23%;
                border-radius: 1em;
                padding: 1em;
                width: 15em;
    
                
                .text_konten{
                    @include flex($align: center);
                    margin: 0.2em 1em;
                    img{
                        width: 1em;
                        height: 1em;
                        margin-right: 5px;
                    }
                    span{
                        text-align: center;
                    }
                    .checked{
                        color: orange;
                    }
                }
            }
    
            .artikel{
                @include position(relative, 1);
                display: grid;
                grid-template-areas: 
                                    "head head head"
                                    "link link link";
                align-self: center;
                width: 100%;
                padding: 0.5em 0;
                border-style: solid;
                border-color: #0c9093;
                border-radius: 1em;
                h4{
                    font-size: 0.9em;
                    grid-area: head;
                    text-align: center;
                }
                .artikel-link{
                    font-size: 0.9em;
                    grid-area: link;
                    @include flex(center, center);
                    flex-wrap: wrap;
                    p{
                        margin: 0 0.5em;
                        color: #0c9093;
                        font-size: 10pt;
                    }
                }
            }
    
        }
    }
    @include responsive("small"){
        height: 87vh;
        margin: 0 4em;
        display: grid;
        grid-gap: 1em;
        grid-template-areas: 
                            "a a a a a"
                            "b b b b b"
                            "c c c c c"
                            "d d d d d"
                            "e e e e e";
    
        &::before{
            content: '';
            @include position(absolute, -1);
            right: 0;
            display: block;
            width: 100%;
            height: 80vh;
            background-image: url(../img/pic.png);
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: center;
            opacity: 0.1;
        }
        .cari{
            @include search_bag;
            text-align: center;
            grid-area: a;
        }
    
        .tombol{
            grid-area: b;
            @include position(relative, 1);
            @include flex(center, center);
            margin-top: 1em;
    
            div, a{
                cursor: pointer;
                img{
                    width: 2.1em;
                    height: 2.1em;
                    margin: 0 0.5em;
                }
            }
        }
    
        .content-main{
            @include position(relative, 1);
            width: 100%;
            text-align: justify;
            max-height: 70vh;
            overflow-y: scroll;
            padding: 0 2em 0 0;
            grid-area: c;
            
            .row{
                line-height: 1.5em;
                h3{
                    font-size: 0.9em;
                    color: black;
                }
    
                p{
                    margin: 1em 0;
                    font-size: 0.9em;
                    color: black;
                }
                ol, ul{
                    li{
                        margin: 0.25em 0;
                        font-size: 0.9em;
                        color: black;
                    }
                }
            }
        }
    
        .content-search{
            @include position(relative, 1);
            @include flex($direction: column);
            height: 60vh;
            overflow-y: scroll;
            grid-area: c;
    
            .isi{
                .row{
                    h3{
                        a{
                            font-size: 0.9em;
                            color: $ijo;
                        }
                    }
        
                    p{
                        font-size: 0.9em;
                        color: $abu;
                    }
                }
            }
    
            
        }
    
        .pagination{
            @include position(relative, 1);
            @include flex(center);
            height: 2em;
            margin-top: 1%;
            color: $ijo;
            grid-area: e;
    
            a{
                font-size: 0.9em;
                @include flex(center, center);
                color: $ijo;
                padding: 0.2em 0.5em;
            }
    
            .active{
                background-color: $ijo !important;
                color: white !important;
                border-radius: 2em;
                
            }
        }
    
        .report{
            @include position(relative, 1);
            @include flex(center, center);
            flex-wrap: wrap;
            width: 100%;
            grid-area: e;
    
            p{
                font-size: 10pt;
                margin: 1em;
            }
            .thumb{
                @include flex();
                img{
                    cursor: pointer;
                    width: 1em;
                    height: 1em;
                    margin: 0 0.5em;
                }
                form{
                    button{
                        outline: none;
                        background-color: transparent;
                        border: none;
                        img{
                            cursor: pointer;
                            width: 1em;
                            height: 1em;
                            margin: 0 0.5em;
                        }
                    }
                }
            }
            #komen{
                cursor: pointer;
                margin-left: 1em;
                background-color: rgba(0, 0, 0, 0);
                border: none;
                outline: none;
            }
        }
    
        .cek{
            @include flex();
            grid-area: d;
            
            .info_konten{
                @include flex(center);
                flex-wrap: wrap;
                align-self: center;
                border-style: solid;
                border-color: #0c9093;
                margin: 0 0 1em 0;
                min-height: 23%;
                border-radius: 1em;
                padding: 0.5em 1em;
                width: 100%;
                
                .text_konten{
                    @include flex($align: center);
                    margin: 0.2em 1em;
                    img{
                        width: 1em;
                        height: 1em;
                        margin-right: 5px;
                    }
                    span{
                        font-size: 0.9em;
                        text-align: center;
                    }
                    .checked{
                        color: orange;
                    }
                }
            }
    
            .artikel{
                @include position(relative, 1);
                display: none;
                align-self: center;
                width: 100%;
                padding: 0.5em 0;
                border-style: solid;
                border-color: #0c9093;
                border-radius: 1em;
                h4{
                    font-size: 0.9em;
                    grid-area: head;
                    text-align: center;
                }
                .artikel-link{
                    font-size: 0.9em;
                    grid-area: link;
                    @include flex(flex-start, center);
                    flex-wrap: wrap;
                    p{
                        color: #0c9093;
                        font-size: 10pt;
                    }
                }
            }
    
        }
    }
    @include responsive("medium"){
        .content-main{
            .row{
                h3{
                    font-size: 1em;
                }
    
                p{
                    font-size: 1em;
                }
                ol, ul{
                    li{
                        font-size: 1em;
                    }
                }
            }
        }
    
        .content-search{
            .isi{
                .row{
                    h3{
                        a{
                            font-size: 1em;
                        }
                    }
        
                    p{
                        font-size: 1em;
                    }
                }
            }
        }
    
        .pagination{
            a{
                font-size: 1em;
            }
        }
    }
    @include responsive("large"){
        grid-template-areas: 
                            "a a a b . ."
                            "c c c c d d"
                            "e e e e . .";
    
        &::before{
            right: 25vw;
            width: 100vmin;
        }
        .cari{
            text-align: left;
            form{
                .inp_search{
                    width: 23em;
                }
            }
        }
    
        .tombol{
            @include flex(flex-end, center);
        }
    
        .content-main{
            width: 95%;
        }

        .content-search{
            height: 67vh;
        }
    
        .pagination{
            @include flex(center);
        }
    
        .cek{
            @include flex($direction: column);
            
            .info_konten{
                @include flex($justify: space-around,$direction: column);
                width: 15em;
            }
    
            .artikel{
                @include flex(space-between, flex-start, column);
                width: 15em;
                padding: 1em;
                min-height: 10%;
                h4{
                    margin: 1em 1em;
                }
                .artikel-link{
                    margin: 0 1em;
                }
            }
        }
    }
}