.modal-login{
    @include position(relative, 2);
    top: -100vh;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,0.7);
    .modal-login-content{
        @include position(absolute, 1);
        right: 4em;
        margin-top: 11vh;
        padding: 1em;
        background-color: $ijo;
        border-radius: 0.5em;
        form{
            @include flex(flex-start, stretch, column);
            input{
                @include input;
            }
            .forgot{
                @include flex(flex-end, center);
                margin-top: 1em;
                small{
                    margin-right: 1em;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
                button{
                    @include button(1.5px solid white, white, $ijo);
                    @include tranisition-btn;
                    &:focus{
                        outline: none;
                    }
                    &:hover{
                        background-color: $ijo;
                        color: white;
                        @include tranisition-btn;
                    }
                }
            }
        }
    }
}

.show{
    display: block !important;
}

.clicked{
    color: $ijo !important;
    font-weight: normal !important;
    background-color: white !important;
    @include tranisition-btn;
}