.cari{
    margin : 0 4em;
    margin-top: 1%;
    justify-content: center;
    grid-area: a;
  }

.tombol{
    grid-area: b;
    display: flex;
    align-items: center;
    padding-top: 10px;
    position: relative;
    z-index: 1;
}

.tombol a img {
    width: 2.1em;
    height: 2.1em;
    margin: 3px;
}

.tombol button img {
    width: 2.5em;
    height: 2.5em;
}
.inp_search{
    box-sizing: border-box;
    width: 350px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #EA0A7A;
    border-radius: 50px;
    height: 35px;
    text-align: left;
}
::placeholder{
    color: #EA0A7A;
}
.btn_search{
    background-color: #EA0A7A;
    border: 1px solid #EA0A7A;
    box-sizing: border-box;
    width: 75px;
    height: 35px;
    border-radius: 50px;
    color: aliceblue;
}
h3{
    color: #A89D98;
}

p{
    color: #A89D98;
}
.content-search{
    margin : 0 0 0 4em;
    position: relative;
    width: 950px;
    text-align: justify;
    max-height: 455px;
    overflow-y: scroll;
    padding: 0 2em 0 0;
    grid-area: c;
}

body::before{
    content: '';
    display: block;
    width: 70%;
    height: 85%;
    background-image: url(../img/pic.png);
    background-repeat: no-repeat;
    background-size: 40em 35em;
    opacity: 0.1;
    position: absolute;
    top: 5em;
    right: 0em;
}

.cobain{
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    /* grid-template-rows: 0em; */
    grid-template-areas: 
                        "a a a b . ."
                        "c c c c d d"
                        ". . e e . .";
}

.artikel {
    border-style: solid;
    border-color: #0c9093;
    margin: 0 2em 1em 2em;
    height: 40%;
    border-radius: 15px;
    padding: 0 1em 1em 1em;    
    justify-content: space-around;
}

.artikel p {
    color: #0c9093;
    font-size: 10pt;
}

.info_konten{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-style: solid;
    border-color: #0c9093;
    margin: 0 2em 1em 2em;
    height: 23%;
    border-radius: 15px;
    padding: 1em 2em 1em 1em;
    width: 12em;
}

.cek{
    display: flex;
    flex-direction: column;
    grid-area: d;
}

.checked {
    color: orange;
  }

.report p {
    font-size: 10pt;
    margin: 1em;
}

.report {
    grid-area: e;
}

.report img {
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.5em;
}

.report img:last-child {
    width: 1.5em;
    height: 1.5em;
}

.info_konten img {
    width: 1em;
    height: 1em;
    margin-right: 5px;
}
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {     
    background: #fff;    
}
 
::-webkit-scrollbar-thumb {
    background: #0c9093;
    border-radius:10px;
}