.cari{
    margin : 0 4em;
    margin-top: 1%;
    justify-content: center;
    grid-area: a;
  }

.tombol{
    grid-area: b;
    display: flex;
    align-items: center;
    padding-top: 10px;
    position: relative;
    z-index: 1;
}

.tombol a img {
    width: 2.1em;
    height: 2.1em;
    margin: 3px;
}

.tombol button img {
    width: 2.5em;
    height: 2.5em;
}
.inp_search{
    box-sizing: border-box;
    width: 350px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #EA0A7A;
    border-radius: 50px;
    height: 35px;
    text-align: left;
}
::placeholder{
    color: #EA0A7A;
}
.btn_search{
    background-color: #EA0A7A;
    border: 1px solid #EA0A7A;
    box-sizing: border-box;
    width: 75px;
    height: 35px;
    border-radius: 50px;
    color: aliceblue;
}
h3{
    color: #A89D98;
}

p{
    color: #A89D98;
}
.content-search{
    margin : 0 0 0 4em;
    position: relative;
    width: 950px;
    text-align: justify;
    max-height: 70vh;
    overflow-y: scroll;
    padding: 0 2em 0 0;
    grid-area: c;
}

body::before{
    content: '';
    display: block;
    width: 70%;
    height: 85%;
    background-image: url(../img/pic.png);
    background-repeat: no-repeat;
    background-size: 40em 35em;
    opacity: 0.1;
    position: absolute;
    top: 5em;
    right: 0em;
}

.cobain{
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    /* grid-template-rows: 0em; */
    grid-template-areas: 
                        "a a a b . ."
                        "c c c c d d"
                        "e e e e . .";
}

.artikel {
    border-style: solid;
    border-color: #0c9093;
    margin: 0 2em 1em 2em;
    min-height: 10%;
    border-radius: 15px;
    padding: 0 1em 1em 1em;    
    justify-content: space-around;
    position: relative;
    z-index: 1;
}

.artikel p {
    color: #0c9093;
    font-size: 10pt;
}

.info_konten{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-style: solid;
    border-color: #0c9093;
    margin: 0 2em 1em 2em;
    height: 23%;
    border-radius: 15px;
    padding: 1em 2em 1em 1em;
    width: 12em;
}

.text_konten span{
    text-align: center;
}

.cek{
    display: flex;
    flex-direction: column;
    grid-area: d;
}

.checked {
    color: orange;
  }

.report p {
    font-size: 10pt;
    margin: 1em;
}

.report {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    grid-area: e;
}

.report img {
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.5em;
}

.report img:last-child {
    width: 1.5em;
    height: 1.5em;
}

.info_konten img {
    width: 1em;
    height: 1em;
    margin-right: 5px;
}
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {     
    background: #fff;    
}
 
::-webkit-scrollbar-thumb {
    background: #0c9093;
    border-radius:10px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:#A89D98;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: white;
  color: #0c9093;
}

.modal-body {padding: 2px 16px;}

/* .modal-footer {
  padding: 2px 16px;
  background-color: white;
  color: #0c9093;
} */

#myBtn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #888;
}

#fname {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #EA0A7A;
    border-radius: 4px;
    box-sizing: border-box;
    height: 150px;
  }
  
  input[type=submit] {
    width: 100%;
    background-color:#0c9093;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:#17d1d6;
  }
  
  .form_report{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }