@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

p, h1 {
  margin: 0;
  padding: 0;
}

input, button {
  font-family: 'Montserrat', sans-serif;
}

nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4em;
  padding: 0.5em 0;
  height: 10vh;
  z-index: 3;
}

nav .logo a img {
  width: 10em;
  height: 4em;
}

nav .nav-link {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-link a {
  text-decoration: none;
  color: #0C9093;
  padding: 0.5em 1.5em;
  -webkit-transition: font-weight 0.2s ease-in-out;
  transition: font-weight 0.2s ease-in-out;
}

nav .nav-link a:hover {
  font-weight: 500;
  -webkit-transition: font-weight 0.2s ease-in-out;
  transition: font-weight 0.2s ease-in-out;
}

nav .nav-link .login {
  background-color: #0C9093;
  border-radius: 1em;
  border: 1.5px solid #0C9093;
  color: white;
  -webkit-transition: background-color 0.2s ease-in-out,
 color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out,
 color 0.2s ease-in-out;
}

nav .nav-link .login:hover {
  color: #0C9093;
  font-weight: normal;
  background-color: white;
  -webkit-transition: background-color 0.2s ease-in-out,
 color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out,
 color 0.2s ease-in-out;
}

.con {
  position: relative;
  z-index: 1;
  height: 87vh;
}

.con::before {
  content: '';
  display: block;
  width: 50%;
  height: 100%;
  background-image: url(../img/gambar1.png);
  background-repeat: no-repeat;
  background-size: 40em 35em;
  opacity: 0.1;
  position: absolute;
  top: -5px;
  left: 7em;
}

.con .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.2fr;
      grid-template-columns: 1fr 1.2fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  grid-column-gap: 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 4em;
  height: 100%;
}

.con .content .content-img img {
  width: 100%;
  height: 100%;
}

.con .content .content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.con .content .content-text h1 {
  font-size: 3em;
  color: #0C9093;
  margin: 0.5em 0;
}

.con .content .content-text p.header {
  color: #EA0A7A;
  font-weight: bold;
}

.con .content .content-text p.isi {
  color: #EA0A7A;
  width: 20em;
}

.modal {
  position: relative;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
  top: -100vh;
}

.modal .modal-login {
  position: absolute;
  margin-top: 11vh;
  padding: 1em;
  background-color: #0C9093;
  border-radius: 0.5em;
  right: 4em;
}

.modal .modal-login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-login form input {
  width: 15em;
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: white;
  border-radius: 1em;
  border: none;
}

.modal .modal-login form input:focus {
  outline: none;
}

.modal .modal-login form .forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}

.modal .modal-login form .forgot small {
  margin-right: 1em;
}

.modal .modal-login form .forgot small a {
  text-decoration: none;
  color: white;
}

.modal .modal-login form .forgot button {
  cursor: pointer;
  border-radius: 1em;
  border: 1.5px solid white;
  background-color: white;
  color: #0C9093;
  padding: 0.5em;
  -webkit-transition: background-color 0.2s ease-in-out,
 color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out,
 color 0.2s ease-in-out;
}

.modal .modal-login form .forgot button:focus {
  outline: none;
}

.modal .modal-login form .forgot button:hover {
  background-color: #0C9093;
  color: white;
  -webkit-transition: background-color 0.2s ease-in-out,
 color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out,
 color 0.2s ease-in-out;
}

.show {
  display: block ;
}

.clicked {
  color: #0C9093 ;
  font-weight: normal ;
  background-color: white ;
  -webkit-transition: background-color 0.2s ease-in-out ,
 color 0.2s ease-in-out ;
  transition: background-color 0.2s ease-in-out ,
 color 0.2s ease-in-out ;
}
/*# sourceMappingURL=main.css.map */