@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

p, h1 {
  margin: 0;
  padding: 0;
}

input, button {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4em;
  padding: 0.5em 0;
  height: 10vh;
  z-index: 3;
}

nav .logo a img {
  width: 10em;
  height: 4em;
}

nav .nav-link {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-link a {
  text-decoration: none;
  color: #0C9093;
  padding: 0.5em 1.5em;
  -webkit-transition: font-weight 0.2s ease-in-out;
  transition: font-weight 0.2s ease-in-out;
}

nav .nav-link a:hover {
  font-weight: 500;
  -webkit-transition: font-weight 0.2s ease-in-out;
  transition: font-weight 0.2s ease-in-out;
}

nav .nav-link .login {
  background-color: #0C9093;
  border-radius: 1em;
  border: 1.5px solid #0C9093;
  color: white;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

nav .nav-link .login:hover {
  color: #0C9093;
  font-weight: normal;
  background-color: white;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.con {
  position: relative;
  z-index: 1;
  height: 87vh;
}

.con::before {
  content: '';
  display: block;
  width: 50%;
  height: 100%;
  background-image: url(../img/gambar1.png);
  background-repeat: no-repeat;
  background-size: 40em 35em;
  opacity: 0.1;
  position: absolute;
  top: -5px;
  left: 7em;
}

.con .content-landing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.2fr;
      grid-template-columns: 1fr 1.2fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  grid-column-gap: 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 4em;
  height: 100%;
}

.con .content-landing .content-landing-img img {
  width: 100%;
  height: 100%;
}

.con .content-landing .content-landing-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.con .content-landing .content-landing-text h1 {
  font-size: 3em;
  color: #0C9093;
  margin: 0.5em 0;
}

.con .content-landing .content-landing-text p.header {
  color: #EA0A7A;
  font-weight: bold;
}

.con .content-landing .content-landing-text p.isi {
  color: #EA0A7A;
  width: 20em;
}

.modal-login {
  position: relative;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
  top: -100vh;
}

.modal-login .modal-login-content {
  position: absolute;
  margin-top: 11vh;
  padding: 1em;
  background-color: #0C9093;
  border-radius: 0.5em;
  right: 4em;
}

.modal-login .modal-login-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-login .modal-login-content form input {
  width: 15em;
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: white;
  border-radius: 1em;
  border: none;
}

.modal-login .modal-login-content form input:focus {
  outline: none;
}

.modal-login .modal-login-content form .forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}

.modal-login .modal-login-content form .forgot small {
  margin-right: 1em;
}

.modal-login .modal-login-content form .forgot small a {
  text-decoration: none;
  color: white;
}

.modal-login .modal-login-content form .forgot button {
  cursor: pointer;
  border-radius: 1em;
  border: 1.5px solid white;
  background-color: white;
  color: #0C9093;
  padding: 0.5em;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.modal-login .modal-login-content form .forgot button:focus {
  outline: none;
}

.modal-login .modal-login-content form .forgot button:hover {
  background-color: #0C9093;
  color: white;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.show {
  display: block !important;
}

.clicked {
  color: #0C9093 !important;
  font-weight: normal !important;
  background-color: white !important;
  -webkit-transition: background-color 0.2s ease-in-out !important, color 0.2s ease-in-out !important;
  transition: background-color 0.2s ease-in-out !important, color 0.2s ease-in-out !important;
}

.inp_search {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25em;
  padding: 1em;
  border: 1px solid #EA0A7A;
  border-radius: 2em;
  height: 3em;
  outline: none;
}

.inp_search::-webkit-input-placeholder {
  color: #EA0A7A;
}

.inp_search:-ms-input-placeholder {
  color: #EA0A7A;
}

.inp_search::-ms-input-placeholder {
  color: #EA0A7A;
}

.inp_search::placeholder {
  color: #EA0A7A;
}

.btn_search {
  cursor: pointer;
  background-color: #EA0A7A;
  border: 1.5px solid #EA0A7A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 5em;
  height: 3em;
  border-radius: 2em;
  color: white;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn_search:hover {
  background-color: white;
  color: #EA0A7A;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn_search:focus {
  outline: none;
}

.btn_search:active {
  background-color: white;
  color: #EA0A7A;
  border: 1px solid black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #0c9093;
  border-radius: 10px;
}

.content {
  margin: 0 4em;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a a a b . ." "c c c c d d" ". e e . . .";
}

.content::before {
  content: '';
  display: block;
  width: 100vmin;
  height: 80vh;
  background-image: url(../img/pic.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  opacity: 0.1;
  position: absolute;
  right: 25vw;
  z-index: -1;
}

.content .cari {
  margin-top: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: a;
}

.content .tombol {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  margin-top: 1em;
}

.content .tombol a img {
  width: 2.1em;
  height: 2.1em;
  margin: 0 0.5em;
}

.content .content-main {
  position: relative;
  width: 55em;
  text-align: justify;
  max-height: 70vh;
  overflow-y: scroll;
  padding: 0 2em 0 0;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: c;
}

.content .content-main .row h3 {
  color: black;
}

.content .content-main .row p {
  color: black;
}

.content .content-search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow: hidden;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: c;
}

.content .content-search .isi .row h3 a {
  color: #0C9093;
}

.content .content-search .isi .row p {
  color: #A89D98;
}

.content .pagination {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 1%;
  color: #0C9093;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: last baseline;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: e;
}

.content .pagination a {
  color: #0C9093;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2em 0.5em;
}

.content .pagination .active {
  background-color: #0C9093 !important;
  color: white !important;
  border-radius: 2em;
}

.content .report {
  position: relative;
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: e;
}

.content .report p {
  font-size: 10pt;
  margin: 1em;
}

.content .report img {
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.5em;
}

.content .cek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: d;
}

.content .cek .info_konten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-style: solid;
  border-color: #0c9093;
  margin: 0 0 1em 0;
  height: 23%;
  border-radius: 1em;
  padding: 1em;
  width: 15em;
  -ms-flex-item-align: center;
      align-self: center;
}

.content .cek .info_konten img {
  width: 1em;
  height: 1em;
  margin-right: 5px;
}

.content .cek .info_konten .text_konten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .cek .info_konten .text_konten span {
  text-align: center;
}

.content .cek .info_konten .text_konten .checked {
  color: orange;
}

.content .cek .artikel {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: solid;
  border-color: #0c9093;
  min-height: 10%;
  border-radius: 1em;
  position: relative;
  z-index: 1;
  width: 15em;
  -ms-flex-item-align: center;
      align-self: center;
}

.content .cek .artikel p {
  color: #0c9093;
  font-size: 10pt;
}
/*# sourceMappingURL=main.css.map */