.cari{
    margin : 0 4em;
    margin-top: 1%;
    justify-content: center;
  }

.q{
    box-sizing: border-box;
    width: 350px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #EA0A7A;
    border-radius: 50px;
    height: 35px;
    text-align: left;
    outline: none;
}
::placeholder{
    color: #EA0A7A;
}
.btn_search{
    outline: none;
    background-color: #EA0A7A;
    border: 1px solid #EA0A7A;
    width: 75px;
    height: 35px;
    border-radius: 50px;
    color: aliceblue;
    cursor: pointer;
}
h3{
    color: #A89D98;
}

p{
    color: #A89D98;
}
.content-search{
    margin : 0 0 0 4em;
    position: relative;
    width: 950px;
    text-align: justify;
    padding: 0 2em 0 0;
    grid-area: c;
}

body::before{
    content: '';
    display: block;
    width: 70%;
    height: 85%;
    background-image: url(../img/pic.png);
    background-repeat: no-repeat;
    background-size: 40em 35em;
    opacity: 0.1;
    position: absolute;
    top: 5em;
    right: 0em;
}

.cobain{
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    /* grid-template-rows: 0em; */
    grid-template-areas: 
                        "a a a b . ."
                        "c c c c d d"
                        ". . e e . .";
}

.info_konten{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-style: solid;
    border-color: #0c9093;
    margin: 0 2em 1em 2em;
    min-width: 10%;
    border-radius: 15px;
    padding: 1em 2em 1em 1em;
    width: 12em;
    padding-right: 50px;
    padding-left: 20px;
}

.cek{
    display: flex;
    flex-direction: column;
    grid-area: d;
}

.checked {
    color: orange;
  }

.report p {
    font-size: 10pt;
    margin: 1em;
}
#pg{
    padding: 20px;
    color: #0C9093;
}
.page{
    margin-top: 2%;
    right: 50px;
    position:absolute;
    margin-right: 15%;
    color: #0C9093;
} 
.bulet{
    background-color: #0C9093;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px; 
    padding-bottom: 5px;
    border-radius: 50%;
    margin: 17px;
    opacity: 1;
    color: white;
}
#trends{
    color: #0C9093;
    cursor: pointer;
}