.cari{
    margin : 0 4em;
    margin-top: 1%;
    justify-content: center
  }
.inp_search{
    box-sizing: border-box;
    width: 350px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #EA0A7A;
    border-radius: 50px;
    height: 35px;
    text-align: left;
}
::placeholder{
    color: #EA0A7A;
}
.btn_search{
    background-color: #EA0A7A;
    border: 1px solid #EA0A7A;
    box-sizing: border-box;
    width: 75px;
    height: 35px;
    border-radius: 50px;
    color: aliceblue;
}
h3{
    color: #0C9093;
}
.content-search{
    margin : 0 4em;
    position: relative;
}
.content-search::before{
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    background-image: url(../img/pic.png);
    background-repeat: no-repeat;
    background-size: 40em 35em;
    opacity: 0.1;
    position: absolute;
    top: -5px;
    right: 5em;
}
p{
    color: #A89D98;
}
.page{
    margin-top: 1%;
    right: 50px;
    position:absolute;
    color: #0C9093;
}
.bulet{
    background-color: #0C9093;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
    margin: 17px;
    opacity: 1;
    color: white;
}
nobr{
    padding-right: 20px;
    color: #0C9093;
} 
a{
    text-decoration: none;
}